[submodule "extra-addons/vertical-association"]
	path = extra-addons/vertical-association
	url = https://github.com/OCA/vertical-association.git
[submodule "odoo_api"]
	path = extra-addons/odoo_api
	url = git@github.com:TiBillet/odoo_api.git
[submodule "extra-addons/mis-builder"]
	path = extra-addons/mis-builder
	url = https://github.com/OCA/mis-builder.git
[submodule "extra-addons/pos"]
	path = extra-addons/pos
	url = https://github.com/OCA/pos.git
